Alexander Wiebel <wiebel@hs-worms.de> <wiebel_openwalnut@dergrosse.de>
Alexander Wiebel <wiebel@hs-worms.de> <alexander.wiebel@hs-coburg.de>
Alexander Wiebel <wiebel@hs-worms.de> <wiebel@hegel.informatik.uni-leipzig.de>
Alexander Wiebel <wiebel@hs-worms.de> <wiebel@bsv_2008a>
Alexander Wiebel <wiebel@hs-worms.de> <wiebel@openwalnut.org>

Sebastian Eichelbaum <sebastian.eichelbaum@nemtics.com> <eichelbaum@informatik.uni-leipzig.de>
Sebastian Eichelbaum <sebastian.eichelbaum@nemtics.com> Sebastian Eichelbaum <devnull@localhost>
Sebastian Eichelbaum <sebastian.eichelbaum@nemtics.com> Sebastian Eichelbaum <code@nemtics.com>

Mathias Goldau <mathias.goldau@gmail.com> <math@informatik.uni-leipzig.de>

Cornelius Mueller <cornimueller@googlemail.com> <mam04cvr@studserv.uni-leipzig.de>
Cornelius Mueller <cornimueller@googlemail.com>  <cornimueller@googlemail.com>
Cornelius Mueller <cornimueller@googlemail.com> cornimueller <devnull@localhost>